/* SPDX-FileCopyrightText: 2026 Vulkan Technologies */
/* SPDX-License-Identifier: AGPL-3.0-or-later */

.spacer {
  flex: 1 1 auto;
}

.state-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.full-width {
  width: 100%;
}
